*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    margin: 50px;
    background-color: #cebb9f;
}

.container{
    height: 459px;
    width: 365px;
    background-color: #242424;
    border-radius: 20px;
}



.prv p{
    color: white;
    width: 152px;
    /* margin-left: 118px; */
    font-size:  25px;
    margin-top: 60px;
    position: absolute;
    display: flex;
    margin-left: 10px;
    
}
.prv{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.krug {
    /* margin-left: 70px; */
    margin-top: 200px;
    position: absolute;
    display: flex;
}

.vtor{
	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center; */


}

.eden{
    border-radius: 50px;
    background-color: #4db2ac;
    height: 52px;
    width: 52px;
    position: absolute;
     /* display: flex; */
     margin-top: 350px;
     font-size: 15px;
     overflow: hidden;
     padding-top:16px;
     padding-left: 10px;
     font-size: 18px;
     margin-left: -150px;

}

.teals{
    color: white;
    margin-top: 410px;
    margin-left: -140px;
    position: absolute;
    
}

.edenn{
    border-radius: 50px;
    background-color: #edec93;
    height: 52px;
    width: 52px;
    position: absolute;
    margin-top: 350px;
     font-size: 15px;
     overflow: hidden;
     padding-top:16px;
     padding-left: 10px;
     font-size: 18px;
     margin-left: -67px;
}

.yellow{
    color: white;
    margin-top: 410px;
    margin-left: -67px;
    position: absolute;
    
    
}


.edennn{

    border-radius: 50px;
    background-color: #cacaca;
    height: 52px;
    width: 52px;
    position: absolute;
    margin-top: 350px;
     font-size: 15px;
     overflow: hidden;
     padding-top:16px;
     padding-left: 10px;
     font-size: 18px;
     margin-left: 16px;   
}

.greys{
    color: white;
    margin-top: 410px;
    margin-left: 20px;
    position: absolute;

}

.edennnn{
    border-radius: 50px;
    background-color: #cacaca;
    height: 52px;
    width: 52px;
    position: absolute;
    margin-top: 350px;
     font-size: 15px;
     overflow: hidden;
     padding-top:16px;
     padding-left: 10px;
     font-size: 18px;
     margin-left: 99px;   
}

.whites{
    color: white;
    margin-top: 410px;
    margin-left: 99px;
    position: absolute; 
}



